/* h1 {
    color: gold;
    text-align: center;
} */


/* div { */


/* background-color: red; */


/* width: 190px; */


/* height: 30px; */


/* margin: 2px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 2px double skyblue;
}

 */


/* div {
} */